<html>
<head>
<title>Flagxor's Bytes and Bobs</title>
%(header)s
</head>
<body>

<div id="wrapper">

<div id="header">
<h1>
Flagxor's Bytes and Bobs %(subtitle)s
<img align="right" width="40" height="40" src="/static/4spire.png"></img>
</h1>
</div>

<div align="center">
<a href="http://fluentconf.com/javascript-html-2015/public/schedule/detail/39279">
  <img src="http://cdn.oreillystatic.com/en/assets/1/event/125/fluent2015_speaking_468x60.gif" width="468" height="60"  border="0"  alt="Fluent Conference 2015"  />
  <br/>
  <h1>I'll be speaking at Fluent on April 22, 2015!</h1>
</a>
</div>

<div class="section">
%(content)s
</div>

%(footer)s

</div>

</body>
</html> 
